.card{
    width: 250px;
    /* border: 1px solid black; */
    padding: 20px;
    box-shadow: 5px 5px 5px gray;
    margin: 40px 10px;
}
.card img{
    width: 100%;
    height: 200px;


}
.cards{
    display: flex;
    flex-wrap: wrap;
}